[mysqld]
user = mysql
datadir = '/var/lib/mysql'
init-file = /tmp/mysql_users.sql
bind-address = 0.0.0.0
socket = /var/lib/mysql/mysql.sock
port = 3306

[mysql]
socket = /var/lib/mysql/mysql.sock
port = 3306